<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Projet Bibliothèque</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body data-ng-app="myApp">
	<div class="jumbotron">
		<h1 class="text-center">Projet Bibliothèque</h1>
		<p class="text-center">Application de gestion d'un bibliothèque</p>
		<p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>
	<div class="container" data-ng-controller="myController">
		<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs"> 
			<ul id="myTabs" class="nav nav-tabs" role="tablist"> 
				<li role="presentation" class=""><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="false">Home</a></li> 
				<li role="presentation" class="active"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="true">Add Book</a></li>
				<li role="presentation" class=""><a href="#dropdown1" role="tab" id="dropdown1e-tab" data-toggle="tab" aria-controls="dropdown1" aria-expanded="true">Book List</a></li>
			</ul> 
			<div id="myTabContent" class="tab-content"> 
				<div role="tabpanel" class="tab-pane fade" id="home" aria-labelledby="home-tab"> 
					<br>
					<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p> 
				</div> 
				<div role="tabpanel" class="tab-pane fade active in" id="profile" aria-labelledby="profile-tab"> 
					<br>
					{{ test }}
					<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p> 
				</div> 
				<div role="tabpanel" class="tab-pane fade" id="dropdown1" aria-labelledby="dropdown1-tab"> 
					<br>
					<h2 class="text-center">Book List</h2>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Titre</th>
								<th>Auteur</th>
								<th>Edit</th>
								<th>Remove</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="book in bookList|orderBy:'bookTitle'">
								<td>{{ book.bookTitle }}</td>
								<td>{{ book.authorName }} {{ book.authorFirstname }}</td>
								<td>
									<button class="btn btn-primary" ng-click="editBook(book.bookId)">
										<span class="glyphicon glyphicon-pencil"></span>
									</button>
								</td>
								<td>
									<button class="btn btn-danger" ng-click="removeBook(book.bookId)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>

					<hr>
					<button class="btn btn-success" ng-click="editBook('new')">
					<span class="glyphicon glyphicon-user"></span>  Creer un livre
					</button>
					<hr>

					<form class="form-horizontal" ng-hide="hideform">
						<h3 ng-show="add">Ajouter un livre:</h3>
						<h3 ng-show="edit">Editer un livre:</h3>
						<input type="hidden" ng-model="idBook" placeholder="Titre">
						<div class="form-group">
							<label class="col-sm-2 control-label">Titre :</label>
							<div class="col-sm-10">
								<input type="text" ng-model="title" placeholder="Titre">
							</div>
						</div> 
						<div class="form-group">
							<label class="col-sm-2 control-label">Nom de l'auteur :</label>
							<div class="col-sm-10">
								<input type="text" ng-model="name" placeholder="Nom de l'auteur">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Prenom de l'auteur :</label>
							<div class="col-sm-10">
								<input type="text" ng-model="firstname" placeholder="Prenom  de l'auteur">
							</div>
						</div>
						<div class="form-group" ng-hide="add">
							<label class="col-sm-2 control-label">Date de retour :</label>
							<div class="col-sm-10">
								<input type="text" ng-model="retDate" placeholder="Date de retour">
							</div>
						</div>
						<hr>
						<button class="btn btn-success" data-ng-click="addBook()" ng-show="add">
							<span class="glyphicon glyphicon-save"></span>  Valider
						</button>
						<button class="btn btn-success" data-ng-click="updateBook()" ng-show="edit">
							<span class="glyphicon glyphicon-save"></span>  Valider
						</button>
					</form>
				</div> 
			</div> 
		</div>
	</div>

	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/bibliotheque.js"></script>
	<script type="text/javascript" src="js/npm.js"></script>
</body>
</html>